<!-- head element for all templates -->
{{ define "head" }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Go Web Dev Template</title>
  <link rel="stylesheet" href="/static/css/output.css" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <script defer src="/static/js/htmx.min.js"></script>
  <!-- include flowbite only when needed -->
  <!-- <script defer src="/static/js/flowbite.min.js"></script> -->
</head>
{{ end }}
