<!-- Base HTML template -->

{{ define "base-html" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" }}
  <body class="flex items-center justify-center min-h-screen bg-black">
    <main id="index-main" class="container p-4 mx-auto">
      <div
        class="w-3/5 p-12 mx-auto text-center text-black bg-white rounded-lg shadow-md h-1/2 shadow-white"
      >
        <h1 class="mb-4 text-5xl font-bold">Go Web Dev Template</h1>
        <p class="mb-6 text-lg">
          This is a minimal template for building a web application using Golang
          + HTMX + Postgres
        </p>
        {{ template "base-login" }}
      </div>
    </main>
    <script src="/static/js/flowbite.js"></script>
  </body>
</html>
{{ end }}
