<!-- Base HTML template -->

{{ define "base-html" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    <main id="index-main" class="container">
      <h1>Go Web Dev Template</h1>
      <p>
        This is a minimal template for building a web application using Golang +
        HTMX + Postgres
      </p>
    </main>
  </body>
  <style>
    #index-main {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    #index-main h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    #index-main p {
      font-size: 1.2rem;
      text-align: center;
    }
  </style>
</html>
{{ end }}
