{{ define "base-signup-view" }}
<body class="bg-gradient-to-r from-gray-900 via-gray-800 to-gray-900">
  <main class="flex items-center justify-center min-h-screen p-4">
    <div
      class="p-8 bg-gray-800 border-2 border-gray-700 rounded-lg shadow-lg min-w-1/2 max-w-9/10"
    >
      <h1 class="text-4xl font-bold text-center text-white">Sign Up</h1>

      <form class="mt-4">
        <div class="mb-4">
          <label class="block text-gray-300" for="first-name">First Name</label>
          <input
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-200 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-500"
            type="text"
            id="first-name"
            name="first-name"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-300" for="last-name">Last Name</label>
          <input
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-200 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-500"
            type="text"
            id="last-name"
            name="last-name"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-300" for="email">Email</label>
          <input
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-200 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-500"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-300" for="password">Password</label>
          <input
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-200 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-500"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-300" for="confirm-password"
            >Confirm Password</label
          >
          <input
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-200 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-500"
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
          />
        </div>

        <div class="flex justify-center mt-6">
          <button
            class="px-6 py-2 text-white transition duration-200 bg-gray-700 border border-gray-600 rounded-md cursor-pointer hover:bg-gray-600 hover:border-gray-500 focus:ring-2 focus:ring-gray-500"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </form>

      <div class="flex justify-center mt-8">
        <p class="text-gray-300">
          Already have an account?
          <a
            hx-boost="true"
            hx-indicator="#spinner"
            href="/login"
            class="underline hover:cursor-pointer"
          >
            Login
          </a>
        </p>
      </div>
    </div>
  </main>
</body>
{{ end }}
