<!-- Users View -->

{{ define "base-users-view" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    <main id="index-main" class="container">
      <h1>Users</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {{ range . }}
          <tr>
            <td>{{ .ID }}</td>
            <td>{{ .FirstName }}</td>
            <td>{{ .LastName }}</td>
            <td>{{ .Email }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
