<!-- Users View -->
{{ define "base-users-view" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body class="text-gray-100 bg-gray-900">
    <main id="index-main" class="container p-4 mx-auto">
      <h1 class="mb-6 text-3xl font-bold">Users</h1>
      <div class="overflow-x-auto">
        <table
          class="min-w-full overflow-hidden bg-gray-800 rounded-lg shadow-md"
        >
          <thead class="bg-gray-700">
            <tr>
              <th class="px-4 py-2 border-b border-gray-600">ID</th>
              <th class="px-4 py-2 border-b border-gray-600">First Name</th>
              <th class="px-4 py-2 border-b border-gray-600">Last Name</th>
              <th class="px-4 py-2 border-b border-gray-600">Email</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
            <tr class="hover:bg-gray-700">
              <td class="px-4 py-2 border-b border-gray-600">{{ .ID }}</td>
              <td class="px-4 py-2 border-b border-gray-600">
                {{ .FirstName }}
              </td>
              <td class="px-4 py-2 border-b border-gray-600">
                {{ .LastName }}
              </td>
              <td class="px-4 py-2 border-b border-gray-600">{{ .Email }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
{{ end }}
